<a href="https://colab.research.google.com/github/seirah-yang/F_roject/blob/main/8_%ED%85%8C%EC%9D%B4%EB%B8%94_%EC%9D%BD%EA%B8%B0_%EC%93%B0%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Pandas 데이터 구조
2) Pandas를 활용하여 데이터 파일 불러오기 및 내보내기
3) 다양한 파일에서 데이터프레임 만들기

판다스(Pandas)
- 파이썬의 데이터 처리 및 분석을 위한 라이브러리
- 복잡하고 다양한 데이터 처리 역할

pandas 데이터 구조 :
 -  '시리즈' : 1차원 배열로 단일 데이터 타입 (예: 정수, 실수, 문자열)을 저장하고 처리한다.
- '데이터프레임': 2차원 구조, 다차원의 데이터(정수, 실수, 문자연, python객체 등)을 저장하고 처리하는데 사용하며, 열과 행으로 이루엉져 있다.

pandas 역할 : 대량의 데이터를 표준화된 형식으로 처리하고 저장 가능

병원같은 의료기관에서는 환자의 나이, 성별, 질병, 검사 결과 등을 다루는데에 높은 장점이 있다.

In [1]:
# 시리즈 데이터 구조 : 시리즈 생성
import pandas as pd

#index값 미지정 시리즈 생성 : 기본값 0
patient_weight = pd.Series ([48,89,50,72,88,84,90,101,103,60])
print(patient_weight)

0     48
1     89
2     50
3     72
4     88
5     84
6     90
7    101
8    103
9     60
dtype: int64

In [2]:
# 인덱스 값 지정된 시리즈 생성:
patient_weight = pd.Series ([48,89,50,72,88,84,90,101,103,60],
index = ['환자1','환자2','환자3','환자4','환자5','환자6','환자7', '환자8','환자9','환자10'])

print(patient_weight)

환자1      48
환자2      89
환자3      50
환자4      72
환자5      88
환자6      84
환자7      90
환자8     101
환자9     103
환자10     60
dtype: int64

In [6]:
#열:   height,  weight,  age
#행:  pt 1-10
data = {'height':[170,168,172,175,169,181,174,178,185,172],
        'weight':[70,65,80,75,68,77,83,73,88,76],
        'age':[33,45,24,44,37,29,61,28,35,47]}

patients_df = pd.DataFrame(data, index = ['환자1','환자2','환자3', '환자4', '환자5', '환자6', '환자7', '환자8', '환자9', '환자10'])

print(patient_df)

      height  weight  age
환자1      170      70   33
환자2      168      65   45
환자3      172      80   24
환자4      175      75   44
환자5      169      68   37
환자6      181      77   29
환자7      174      83   61
환자8      178      73   28
환자9      185      88   35
환자10     172      76   47

In [7]:
# 새로운 데이터 계산 후 추가
patients_df['BMI'] = patients_df['weight'] /((patients_df)['height']/100**2)

print(patients_df)

      height  weight  age          BMI
환자1      170      70   33  4117.647059
환자2      168      65   45  3869.047619
환자3      172      80   24  4651.162791
환자4      175      75   44  4285.714286
환자5      169      68   37  4023.668639
환자6      181      77   29  4254.143646
환자7      174      83   61  4770.114943
환자8      178      73   28  4101.123596
환자9      185      88   35  4756.756757
환자10     172      76   47  4418.604651

판다스는 다양한(CSV, TSV, Excel, JSON, Pickle 와 같은) 파일에서 데이터를 읽고 쓸 수 있어 데이터를 소스로부터 쉽게 가져오고 내장함수를 활용하여 여러 형식으로 저장이 가능하다.

데이터를 불러올 때는 read_파일종류()형태의 함수를 사용하며, 데이터프레임을 파일로 저장할 때는 to_파일형태의 함수를 사용한다.

In [10]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("whenamancodes/heart-failure-clinical-records")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/whenamancodes/heart-failure-clinical-records?dataset_version_number=1...

100%|██████████| 3.97k/3.97k [00:00<00:00, 3.48MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/whenamancodes/heart-failure-clinical-records/versions/1

In [16]:
# 데이터불러오기
#CSV파일 불러오기
import os

csv_path = os.path.join(path, "Heart Failure Clinical Records.csv")
df = pd.read_csv(csv_path)

print(df.head())

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  75.0        0                       582         0                 20
1  55.0        0                      7861         0                 38
2  65.0        0                       146         0                 20
3  50.0        1                       111         0                 20
4  65.0        1                       160         1                 20

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                    1  265000.00               1.9           130    1
1                    0  263358.03               1.1           136    1
2                    0  162000.00               1.3           129    1
3                    0  210000.00               1.9           137    1
4                    0  327000.00               2.7           116    0

   smoking  time  DEATH_EVENT
0        0     4            1
1        0     6            1
2        1     7            1
3        0     7            1
4        0     8            1

 ### TSV (Tab-Seperated Values) 파일

 - 매개변수 설정 :sep 매개변수로 원하는 문자로 설정하는 경우
    - sep='\t' 를 설정함으로서 Comma가 아닌, TSV (Tab-Seperated Value)로 구분된 텍스트 파일을 생성할수 있다.

- header 설정 :  True 혹은 False로 설정

    - 데이터프레임 첫번째 행열이름(헤더)를 포함시킬지 결정해주는 매개변수
    - True: 기본값으로 헤더를 포함
    - False: 헤더를 포함하지 않음

In [ ]:
# TSV 텍스트 파일 생성하기
# header 미포함
tsv_file_no_header = tsv_file.to_csv(sep='\t', header = False)
print(tsv_file_no_header)

o Excel 파일
- Excel 파일은 CSV파일과 다르게 read_csv 가 아닌 ‘read_excel()’ 함수를 통해 Excel 데이터를 읽을 수 있다.
- 데이터를 엑셀 파일로 저장할시, ‘to_excel()’ 함수를 사용하여 보유하고 있는 DataFrame을 Excel 파일에 저장가능하다.
- 엑셀 파일을 생성할때 데이터프레임의 인덱스를 포함하지 않기 위해 index = False를 설정해 파일 크기를 불필요하게 늘리는것을 방지할 수 있다.

▶ Excel 파일 매개변수: 엑셀 파일을 다룰 때 사용하는 파라미터 'sheet_name' 매개변수의 기본값= 0
-  엑셀 파일의 특정 시트를 선택하거나 새로운 시트에 저장할 때 사용된다.
- 예) df1.to_excel ( "output.xlsx" , sheet_name = 'Sheet_name_1' )는 데이터프레임 df1를 "output.xlsx"라는 이름의 Excel 파일로 출력 -> 'Sheet_name_1'이라는 이름의 시트에 데이터가 저장된다.

In [ ]:
# 'Sheet_name_1' 이름의 시트에 데이터 저장
df1.to_excel("output.xlsx", sheet_name = 'Sheet_name_1')

In [ ]:
# CSV 파일 Excel 파일로 저장
csv_file.to_excel("Heart_Failure_Clinical_Records.xlsx", index=False)